# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pytest files
.pytest_cache

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.spec
*.egg-info/
*.egg

# Virtual environments
venv/
env/
ENV/
.env/
.venv/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints